@model Noticias
@{
    ViewData["Titulo"] = "Noticias";
}
<form action="@Url.Action("Publicar")" method="post">

    <label for="IdNoticias">IdNoticias</label>
    <input type="text" name="IdNoticias" id="IdNoticias">

    <label for="Titulo">Titulo</label>
    <input type="text" name="Titulo" id="Titulo">

    <label for="Texto">Texto</label>
    <input type="text" name="Texto" id="Texto">

    <label for="Imagem">Imagem</label>
    <input type="text" name="Imagem" id="Imagem">

    <button type="submit">Publicar</button>

</form>

<Table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Imagem</th>
    </thead>
    <tbody>
        @foreach (var n in ViewBag.Noticias)
        {
            <tr>
                <td>@n.IdNoticias</td>
                <td>@n.Titulo</td>
                <td>@n.Texto</td>
                <td>@n.Imagem</td>
            </tr>
        }
    </tbody>
</Table>